CACHE-DATA/*
!CACHE-DATA/homo_sapiens
CACHE-DATA/homo_sapiens/*
!CACHE-DATA/homo_sapiens/.gitkeep

PLUGINS-DATA/*
!PLUGINS-DATA/HG37
!PLUGINS-DATA/HG38
PLUGINS-DATA/HG37/*
PLUGINS-DATA/HG38/*
!PLUGINS-DATA/HG37/.gitkeep
!PLUGINS-DATA/HG38/.gitkeep

VEP-OUT/*
!VEP-OUT/.gitkeep
